<a href="https://colab.research.google.com/github/liligunderson/CSC221_lgund001/blob/main/Assignment26_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
#Cell 1: Demonstrate int, float, and string

#integer
integer_example = 42
print("Integer Example:", integer_example)

#float
float_example = 3.14
print("Float Example:", float_example)

#string
string_example = "Hello, World!"
print("String Example:", string_example)

Integer Example: 42
Float Example: 3.14
String Example: Hello, World!

In [77]:
#Cell 2: Show how an f-string works (f'Something like this with {something} in it.')
print(f"the variable a is (a) and c*5 is (c*5)")

the variable a is (a) and c*5 is (c*5)

In [78]:

#Cell 3: Demonstrate some methods of the string class
name = 'fred flintstone'
print(name, name.title())
upper = name.upper()
print(upper)

fred flintstone Fred Flintstone
FRED FLINTSTONE

In [79]:
#Cell 4: Do something with a list
abc = [13,27, 120, 8]
print(abc)
for x in sorted(abc):
  print(x)

print(f'min: {min(abc)}')
print('min: ' + str(min(abc)))
print('max: ' + str(max(abc)))
print('sum: ' + str(sum(abc)))

[13, 27, 120, 8]
8
13
27
120
min: 8
min: 8
max: 120
sum: 168

In [80]:
#Cell 5: Do something with a list of lists
xyz = []
xyz.append([13,12,5])
xyz.append([12, 'asd'])

print(xyz)

xyz2 = [[13, 12, 5], [8, 5], [12, 'asd']]
print(xyz2)

[[13, 12, 5], [12, 'asd']]
[[13, 12, 5], [8, 5], [12, 'asd']]

In [81]:
#Cell 6: Show how to print a list in sorted order without changing it.
abc = [13, 27, 120, 8]

abc = [13, 27, 120, 8]
print(sorted(abc))
print(abc)

[8, 13, 27, 120]
[13, 27, 120, 8]

In [82]:
#Cell 7: Printing a series of numbers using for and range
def f1():
  for x in range(5, 100, 2):
    print(x, end= ' ')

f1()

5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [83]:
#Cell 8: Printing a series of squares of all numbers from 1 to 1000 that are not multiples of 7 using list comprehension.
print([x*x for x in range(1, 1000) if x % 7 != 0])

[1, 4, 9, 16, 25, 36, 64, 81, 100, 121, 144, 169, 225, 256, 289, 324, 361, 400, 484, 529, 576, 625, 676, 729, 841, 900, 961, 1024, 1089, 1156, 1296, 1369, 1444, 1521, 1600, 1681, 1849, 1936, 2025, 2116, 2209, 2304, 2500, 2601, 2704, 2809, 2916, 3025, 3249, 3364, 3481, 3600, 3721, 3844, 4096, 4225, 4356, 4489, 4624, 4761, 5041, 5184, 5329, 5476, 5625, 5776, 6084, 6241, 6400, 6561, 6724, 6889, 7225, 7396, 7569, 7744, 7921, 8100, 8464, 8649, 8836, 9025, 9216, 9409, 9801, 10000, 10201, 10404, 10609, 10816, 11236, 11449, 11664, 11881, 12100, 12321, 12769, 12996, 13225, 13456, 13689, 13924, 14400, 14641, 14884, 15129, 15376, 15625, 16129, 16384, 16641, 16900, 17161, 17424, 17956, 18225, 18496, 18769, 19044, 19321, 19881, 20164, 20449, 20736, 21025, 21316, 21904, 22201, 22500, 22801, 23104, 23409, 24025, 24336, 24649, 24964, 25281, 25600, 26244, 26569, 26896, 27225, 27556, 27889, 28561, 28900, 29241, 29584, 29929, 30276, 30976, 31329, 31684, 32041, 32400, 32761, 33489, 33856, 34225, 34596, 34969, 35344, 36100, 36481, 36864, 37249, 37636, 38025, 38809, 39204, 39601, 40000, 40401, 40804, 41616, 42025, 42436, 42849, 43264, 43681, 44521, 44944, 45369, 45796, 46225, 46656, 47524, 47961, 48400, 48841, 49284, 49729, 50625, 51076, 51529, 51984, 52441, 52900, 53824, 54289, 54756, 55225, 55696, 56169, 57121, 57600, 58081, 58564, 59049, 59536, 60516, 61009, 61504, 62001, 62500, 63001, 64009, 64516, 65025, 65536, 66049, 66564, 67600, 68121, 68644, 69169, 69696, 70225, 71289, 71824, 72361, 72900, 73441, 73984, 75076, 75625, 76176, 76729, 77284, 77841, 78961, 79524, 80089, 80656, 81225, 81796, 82944, 83521, 84100, 84681, 85264, 85849, 87025, 87616, 88209, 88804, 89401, 90000, 91204, 91809, 92416, 93025, 93636, 94249, 95481, 96100, 96721, 97344, 97969, 98596, 99856, 100489, 101124, 101761, 102400, 103041, 104329, 104976, 105625, 106276, 106929, 107584, 108900, 109561, 110224, 110889, 111556, 112225, 113569, 114244, 114921, 115600, 116281, 116964, 118336, 119025, 119716, 120409, 121104, 121801, 123201, 123904, 124609, 125316, 126025, 126736, 128164, 128881, 129600, 130321, 131044, 131769, 133225, 133956, 134689, 135424, 136161, 136900, 138384, 139129, 139876, 140625, 141376, 142129, 143641, 144400, 145161, 145924, 146689, 147456, 148996, 149769, 150544, 151321, 152100, 152881, 154449, 155236, 156025, 156816, 157609, 158404, 160000, 160801, 161604, 162409, 163216, 164025, 165649, 166464, 167281, 168100, 168921, 169744, 171396, 172225, 173056, 173889, 174724, 175561, 177241, 178084, 178929, 179776, 180625, 181476, 183184, 184041, 184900, 185761, 186624, 187489, 189225, 190096, 190969, 191844, 192721, 193600, 195364, 196249, 197136, 198025, 198916, 199809, 201601, 202500, 203401, 204304, 205209, 206116, 207936, 208849, 209764, 210681, 211600, 212521, 214369, 215296, 216225, 217156, 218089, 219024, 220900, 221841, 222784, 223729, 224676, 225625, 227529, 228484, 229441, 230400, 231361, 232324, 234256, 235225, 236196, 237169, 238144, 239121, 241081, 242064, 243049, 244036, 245025, 246016, 248004, 249001, 250000, 251001, 252004, 253009, 255025, 256036, 257049, 258064, 259081, 260100, 262144, 263169, 264196, 265225, 266256, 267289, 269361, 270400, 271441, 272484, 273529, 274576, 276676, 277729, 278784, 279841, 280900, 281961, 284089, 285156, 286225, 287296, 288369, 289444, 291600, 292681, 293764, 294849, 295936, 297025, 299209, 300304, 301401, 302500, 303601, 304704, 306916, 308025, 309136, 310249, 311364, 312481, 314721, 315844, 316969, 318096, 319225, 320356, 322624, 323761, 324900, 326041, 327184, 328329, 330625, 331776, 332929, 334084, 335241, 336400, 338724, 339889, 341056, 342225, 343396, 344569, 346921, 348100, 349281, 350464, 351649, 352836, 355216, 356409, 357604, 358801, 360000, 361201, 363609, 364816, 366025, 367236, 368449, 369664, 372100, 373321, 374544, 375769, 376996, 378225, 380689, 381924, 383161, 384400, 385641, 386884, 389376, 390625, 391876, 393129, 394384, 395641, 398161, 399424, 400689, 401956, 403225, 404496, 407044, 408321, 409600, 410881, 412164, 413449, 416025, 417316, 418609, 419904, 421201, 422500, 425104, 426409, 427716, 429025, 430336, 431649, 434281, 435600, 436921, 438244, 439569, 440896, 443556, 444889, 446224, 447561, 448900, 450241, 452929, 454276, 455625, 456976, 458329, 459684, 462400, 463761, 465124, 466489, 467856, 469225, 471969, 473344, 474721, 476100, 477481, 478864, 481636, 483025, 484416, 485809, 487204, 488601, 491401, 492804, 494209, 495616, 497025, 498436, 501264, 502681, 504100, 505521, 506944, 508369, 511225, 512656, 514089, 515524, 516961, 518400, 521284, 522729, 524176, 525625, 527076, 528529, 531441, 532900, 534361, 535824, 537289, 538756, 541696, 543169, 544644, 546121, 547600, 549081, 552049, 553536, 555025, 556516, 558009, 559504, 562500, 564001, 565504, 567009, 568516, 570025, 573049, 574564, 576081, 577600, 579121, 580644, 583696, 585225, 586756, 588289, 589824, 591361, 594441, 595984, 597529, 599076, 600625, 602176, 605284, 606841, 608400, 609961, 611524, 613089, 616225, 617796, 619369, 620944, 622521, 624100, 627264, 628849, 630436, 632025, 633616, 635209, 638401, 640000, 641601, 643204, 644809, 646416, 649636, 651249, 652864, 654481, 656100, 657721, 660969, 662596, 664225, 665856, 667489, 669124, 672400, 674041, 675684, 677329, 678976, 680625, 683929, 685584, 687241, 688900, 690561, 692224, 695556, 697225, 698896, 700569, 702244, 703921, 707281, 708964, 710649, 712336, 714025, 715716, 719104, 720801, 722500, 724201, 725904, 727609, 731025, 732736, 734449, 736164, 737881, 739600, 743044, 744769, 746496, 748225, 749956, 751689, 755161, 756900, 758641, 760384, 762129, 763876, 767376, 769129, 770884, 772641, 774400, 776161, 779689, 781456, 783225, 784996, 786769, 788544, 792100, 793881, 795664, 797449, 799236, 801025, 804609, 806404, 808201, 810000, 811801, 813604, 817216, 819025, 820836, 822649, 824464, 826281, 829921, 831744, 833569, 835396, 837225, 839056, 842724, 844561, 846400, 848241, 850084, 851929, 855625, 857476, 859329, 861184, 863041, 864900, 868624, 870489, 872356, 874225, 876096, 877969, 881721, 883600, 885481, 887364, 889249, 891136, 894916, 896809, 898704, 900601, 902500, 904401, 908209, 910116, 912025, 913936, 915849, 917764, 921600, 923521, 925444, 927369, 929296, 931225, 935089, 937024, 938961, 940900, 942841, 944784, 948676, 950625, 952576, 954529, 956484, 958441, 962361, 964324, 966289, 968256, 970225, 972196, 976144, 978121, 980100, 982081, 984064, 986049, 990025, 992016, 994009, 996004, 998001]

In [84]:
#Cell 9: Generating all of the prime numbers from 2 to 1000 using the Sieve of Eratosthenes which I suggest you ask ChatGPT for help on.
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False  # 0 and 1 are not prime numbers

    for i in range(2, int(limit**0.5) + 1):
        if is_prime[i]:
            primes.append(i)
            for j in range(i*i, limit + 1, i):
                is_prime[j] = False

    # Add remaining primes greater than sqrt(limit)
    for i in range(int(limit**0.5) + 1, limit + 1):
        if is_prime[i]:
            primes.append(i)

    return primes

# Generating primes from 2 to 1000
primes_up_to_1000 = sieve_of_eratosthenes(1000)

# Printing the result
print("Prime numbers from 2 to 1000:", primes_up_to_1000)

Prime numbers from 2 to 1000: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [85]:
#Cell 10: Create a generator from your function above that you can use to print the first N prime numbers. This should look like:

def my_prime_generator(N):
  primes = sieve_of_eratosthenes(N)

  for x in primes:
    yield x

for x in my_prime_generator(200):
  print(x, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [86]:
#Cell 11: Generate 1000 random integers in a list (random.randint(...)) and print their min, max, sum, and average.
import random

random_integers = [random.randint(1, 100) for _ in range(1000)]

min_value = min(random_integers)
max_value = max(random_integers)
sum_value = sum(random_integers)
average_value = sum_value / len(random_integers)

print(f"Min: {min_value}")
print(f"Max: {max_value}")
print(f"Sum: {sum_value}")
print(f"Average: {average_value}")

Min: 1
Max: 100
Sum: 51061
Average: 51.061

In [87]:
#Cell 12: Write a simple function that uses if, elif, and else and show that it works.
def number_classification (number):
    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

#test code
test_number = 7
result = number_classification(test_number)
print(f"The number {test_number} is {result}.")

The number 7 is Positive.

In [ ]:
#Cell 13: Show me three things from PEP-8 that surprise you

#I found it surprising that pep 8 recommends using 4 spaces per indentation level and not using tabs for the indent.
#ex. showing indentation
if True:
  print("True")
else:
  print("False")
#I also found it interesting that it recommends you to keep lines to a Maximum of 79 Characters.
#ex.
long_variable_name = "This is a long variable name that follows PEP 8 guidelines." #79 characters
#I thought it was interesting that you can create a string with 'apostrophes' and with "quotes."
#ex.
string = 'this is a string'
string2 = "this is also a string"

In [94]:
#Cell 14: Create a file using %%file testfile.txt in Colab. The file should contain lines like the following:

%%file textfile.txt
Amy, cat
Fred, dog
Hunter, dog
Peena, parakeet
Rover, dog

Overwriting textfile.txt

In [95]:
#Cell 15: Read that file in and convert it to a dictionary. Show how you can lookup pet type by using pet name with your dictionary.
with open('textfile.txt', 'r') as file:
    pet_info = [line.strip().split(', ') for line in file]

pet_dict = dict(pet_info)
print(pet_dict)

pet_name = 'Fred'
print(f'{pet_name} has a {pet_dict[pet_name]}')

{'Amy': 'cat', 'Fred': 'dog', 'Hunter': 'dog', 'Peena': 'parakeet', 'Rover': 'dog'}
Fred has a dog

In [96]:
#Cell 16: Generate a list of all the unique pet types in the dictionary. Use a set to make this happen.
unique_pet_types = set(pet_dict.values())
print("Unique Pet Types:", unique_pet_types)

Unique Pet Types: {'dog', 'parakeet', 'cat'}

In [97]:
#Cell 17: Use a while loop to print the numbers from 80 down to 16 by 8. Do not use for or range.
n = 80
while n >= 16:
  print(n)
  n -= 8

80
72
64
56
48
40
32
24
16

In [98]:
#Cell 18: Write a function that takes three numbers and returns their min, max, and sum as a tuple.
def min_max_sum_tuple(x, y, z):
  return min(x, y, z), max(x, y, z), x + y + z

result_tuple = min_max_sum_tuple(1, 2, 3)
print(result_tuple)

(1, 3, 6)

In [100]:
#Cell 19: Write a function that takes any number of numbers and returns their min, max, and sum as a tuple.

def min_max_sum_tuple(*numbers):
    if not numbers:
        raise ValueError("At least one number is required.")

    return min(numbers), max(numbers), sum(numbers)

result_tuple = min_max_sum_tuple(1, 2, 3, 4, 5)
print(result_tuple)

(1, 5, 15)

In [101]:
#Cell 20: Create a decorator called traceroo and use it to print messages showing how your function above executes.
def traceroo(func):
  def newfunc(*args, **kwargs):
    print(f'TRACEROO {func.__name__} {args} {kwargs}')
    return func(*args, **kwargs)

  return newfunc

@traceroo
def f1(a, b, c):
  return a + b + c

f1d = traceroo(f1)
print(f1(3, 2, 1))
print(f1d(3, 2, 1))

@traceroo
def f4():
  print("Hi... I'm f4")

f4()

TRACEROO f1 (3, 2, 1) {}
6
TRACEROO newfunc (3, 2, 1) {}
TRACEROO f1 (3, 2, 1) {}
6
TRACEROO f4 () {}
Hi... I'm f4

In [102]:
#Cell 21: Create a class that uses __init__, __repr__, __str__, and __add__. Demonstrate that all of the methods work.
class ClassLili:
    def __init__(self, value):
        self.value = value

    def __repr__(self):
        return f"ClassLili({self.value})"

    def __str__(self):
        return f"Instance of ClassLili with value: {self.value}"

    def __add__(self, other):
        if isinstance(other, ClassLili):
            return ClassLili(self.value + other.value)
        else:
            raise TypeError("Unsupported operand type. You can only add instances of MyClass.")


obj1 = ClassLili(10)
obj2 = ClassLili(20)

#test code
print("Using __str__:", str(obj1))
print("Using __repr__:", repr(obj1))

result = obj1 + obj2
print("Using __add__:", result)

Using __str__: Instance of ClassLili with value: 10
Using __repr__: ClassLili(10)
Using __add__: Instance of ClassLili with value: 30

In [103]:
#Cell 22: Is your birth date included in the digits of pi? Where? Feel free to use the code from Chapter 10.
from mpmath import mp

def find_birth_date_in_pi(birth_date):
    # Set precision to a desired value (e.g., 1000)
    mp.dps = 1000

    # Calculate pi using the BBP formula
    pi = mp.pi

    # Search for the birth date in the decimal representation of pi
    pi_str = str(pi)
    index = pi_str.find(birth_date)

    return index

# Your birth date in the format MMDD
birth_date = "0125"

# Find the birth date in the digits of pi
index = find_birth_date_in_pi(birth_date)

# Print the result
if index != -1:
    print(f"Your birth date '{birth_date}' is found in the decimal places of pi at index {index}.")
else:
    print(f"Your birth date '{birth_date}' is not found in the first 1000 decimal places of pi.")

#apparently it is not in the first 1000 decimals of pi :(

Your birth date '0125' is not found in the first 1000 decimal places of pi.

In [104]:
#Put three of your above functions in a file called final_functions.py. Show that they work using python final_functions.py from the command line.

%%writefile final_functions.py

# final_functions.py

# Function 1
def number_classification(number):
    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

# Function 2
def min_max_sum_tuple(x, y, z):
    return min(x, y, z), max(x, y, z), x + y + z

# Function 3
def f1():
    for x in range(5, 100, 2):
        print(x, end=' ')

Overwriting final_functions.py

In [106]:
#Add a file final.py that imports final_functions.py and exercises them a bit using python final.py from the command line.

%%file final.py


from final_functions import number_classification, min_max_sum_tuple, f1

# Test number_classification function
numbers = number_classification(5)
print("Number classification result:", numbers)

# Test min_max_sum_tuple function
tuples = min_max_sum_tuple(1, 2, 3)
print("The result of the tuple is:", tuples)

# Test f1 function
print("Series of numbers:")
f1()

Overwriting final.py

In [107]:
!python final.py

Number classification result: Positive
The result of the tuple is: (1, 3, 6)
Series of numbers:
5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [108]:
#Add a file test_final.py and use pytest from the command line to test the functions. Show that the tests pass.

%%writefile test_final.py

from final_functions import number_classification, min_max_sum_tuple, f1

def test_number_classification_positive():
    assert number_classification(7) == "Positive"

def test_number_classification_negative():
    assert number_classification(-7) == "Negative"

def test_number_classification_zero():
    assert number_classification(0) == "Zero"

def test_min_max_sum_tuple():
    assert min_max_sum_tuple(1, 2, 3) == (1, 3, 6)

# Note: This test assumes that the output of f1 is printed to the console.
# You might need to modify it if f1 returns a value instead of printing.
def test_f1(capsys):
    f1()
    captured = capsys.readouterr()
    assert captured.out.strip() == " ".join(map(str, range(5, 100, 2)))

# Run pytest from within the notebook and print the results
import pytest

result = pytest.main(['-v', 'test_final.py'])
print("Test result:", result)

Overwriting test_final.py

In [109]:
!python test_final.py

======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.3, pluggy-1.3.0 -- /usr/bin/python3
cachedir: .pytest_cache
rootdir: /content
plugins: anyio-3.7.1
collected 5 items

test_final.py::test_number_classification_positive PASSED                                    [ 20%]
test_final.py::test_number_classification_negative PASSED                                    [ 40%]
test_final.py::test_number_classification_zero PASSED                                        [ 60%]
test_final.py::test_min_max_sum_tuple PASSED                                                 [ 80%]
test_final.py::test_f1 PASSED                                                                [100%]

======================================== 5 passed in 0.10s =========================================
Test result: ExitCode.OK

In [110]:
#Put a bug in one of your functions. Show that your pytest tests now fail!

%%writefile final_functions.py

# final_functions.py

# Function 1
def number_classification(number):
    if number >= 0: #Intentional bug: Changed > to >=
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

# Function 2
def min_max_sum_tuple(x, y, z):
    return min(x, y, z), max(x, y, z), x + y + z

# Function 3
def f1():
    for x in range(5, 100, 2):
        print(x, end=' ')

import pytest

result = pytest.main(['-v', 'test_final.py'])
print("Test result:", result)

Overwriting final_functions.py

In [111]:
!python final_functions.py

======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.3, pluggy-1.3.0 -- /usr/bin/python3
cachedir: .pytest_cache
rootdir: /content
plugins: anyio-3.7.1
collected 5 items

test_final.py::test_number_classification_positive PASSED                                    [ 20%]
test_final.py::test_number_classification_negative PASSED                                    [ 40%]
test_final.py::test_number_classification_zero FAILED                                        [ 60%]
test_final.py::test_min_max_sum_tuple PASSED                                                 [ 80%]
test_final.py::test_f1 PASSED                                                                [100%]

============================================= FAILURES =============================================
_________________________________ test_number_classification_zero __________________________________

    def test_number_classification_zero():
>       assert number_classification(0) == "Zero"
E       AssertionError: assert 'Positive' == 'Zero'
E         - Zero
E         + Positive

test_final.py:11: AssertionError
===================================== short test summary info ======================================
FAILED test_final.py::test_number_classification_zero - AssertionError: assert 'Positive' == 'Zero'
=================================== 1 failed, 4 passed in 0.23s ====================================
Test result: ExitCode.TESTS_FAILED