<a href="https://colab.research.google.com/github/liligunderson/CSC221_lgund001/blob/main/UpdatedAssignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lilian Gunderson

Updated and fixed assignment 4 to include all the examples and TIY.
Also fixed the last section to be a list comprehension.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())
print(bicycles[1])
print(bicycles[3])
print(bicycles[-1])
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

['trek', 'cannondale', 'redline', 'specialized']
trek
Trek
cannondale
specialized
specialized
My first bicycle was a Trek.

In [ ]:
#TIY 3.1 & 3.2
names = ['Acadia', 'Pearl', 'Catherine', 'Hannah']
message = f"How are you doing {names[0]}."
message1 = f"How are you doing {names[1]}."
message2 = f"How are you doing {names[2]}."
message3 = f"How are you doing {names[3]}."
print(message)
print(message1)
print(message2)
print(message3)
vehicles = ['BMW', 'trains', 'plane']
message = f"one day I would like to own a {vehicles[0]}."
print(message)
message = f"the US should have more {vehicles[1]}."
print(message)
message = f"I love to fly on a {vehicles[-1]}."
print(message)

How are you doing Acadia.
How are you doing Pearl.
How are you doing Catherine.
How are you doing Hannah.
one day I would like to own a BMW.
the US should have more trains.
I love to fly on a plane.

In [ ]:
#TIY 3.3
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print(f"the last motorcycle I owned was a {last_owned.title()}.")
first_owned = motorcycles.pop(0)
print(f"the first motorcycle I owned was a {first_owned.title()}.")

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki
the last motorcycle I owned was a Suzuki.
the first motorcycle I owned was a Honda.

In [2]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
#TIY 3.4 & 3.5 & 3.6 & 3.7
dinner_guests = ['Leo Howard', 'Timothee Chalamet', 'Ian Somerhalder']
print(f"Welcome to my home, {dinner_guests[1]}.")
print(f"I'm so happy you came, {dinner_guests[0]}.")
print(f"Come on inside, {dinner_guests[2]} let's eat.")
print('Timothee Chalamet can no longer attend')
del dinner_guests[1]
dinner_guests.insert(1, 'Chace Crawford')
print(dinner_guests)
print(f"Dear {dinner_guests[1]} you are invited to my home for dinner.")
print(f"{dinner_guests[0]} please come over for dinner around 7.")
print(f"{dinner_guests[2]} you are welcome to have dinner at my house this evening.")
print('I have found a bigger dinner table so a few more people will join us.')
dinner_guests.insert(0, 'Heath Ledger')
dinner_guests.insert(2, 'Chad Michael Murray')
dinner_guests.append("Dylan O'Brien")
print(dinner_guests)
print(f"Welcome to my home, {dinner_guests[0]}.")
print(f"Make yourself at home, {dinner_guests[1]}.")
print(f"Hope you're hungry {dinner_guests[2]}, the food's ready.")
print(f"Please make yourself comfortable, {dinner_guests[3]}.")
print(f"Do you have any dietary restrictions, {dinner_guests[4]}?")
print(f"So glad you could make it, {dinner_guests[5]}.")
print('Unfortunately, the dinner table will be arriving late so I can only invite two guests')
popped_dinner_guests = dinner_guests.pop()
print(dinner_guests)
print(popped_dinner_guests)
guestremoved1 = dinner_guests.pop()
print(f"I'm sorry I cannot invite you to dinner tonight {guestremoved1}.")
popped_dinner_guests = dinner_guests.pop(0)
print(popped_dinner_guests)
print(dinner_guests)
print(f"Unfortunately I cannot invite you to dinner tonight {dinner_guests.pop(0)}.")
print(f"{dinner_guests[0]} and {dinner_guests[1]} you are both still invited to dinner.")
del dinner_guests[0]
del dinner_guests[0]
print(dinner_guests)

Welcome to my home, Timothee Chalamet.
I'm so happy you came, Leo Howard.
Come on inside, Ian Somerhalder let's eat.
Timothee Chalamet can no longer attend
['Leo Howard', 'Chace Crawford', 'Ian Somerhalder']
Dear Chace Crawford you are invited to my home for dinner.
Leo Howard please come over for dinner around 7.
Ian Somerhalder you are welcome to have dinner at my house this evening.
I have found a bigger dinner table so a few more people will join us.
['Heath Ledger', 'Leo Howard', 'Chad Michael Murray', 'Chace Crawford', 'Ian Somerhalder', "Dylan O'Brien"]
Welcome to my home, Heath Ledger.
Make yourself at home, Leo Howard.
Hope you're hungry Chad Michael Murray, the food's ready.
Please make yourself comfortable, Chace Crawford.
Do you have any dietary restrictions, Ian Somerhalder?
So glad you could make it, Dylan O'Brien.
Unfortunately, the dinner table will be arriving late so I can only invite two guests
['Heath Ledger', 'Leo Howard', 'Chad Michael Murray', 'Chace Crawford', 'Ian Somerhalder']
Dylan O'Brien
I'm sorry I cannot invite you to dinner tonight Ian Somerhalder.
Heath Ledger
['Leo Howard', 'Chad Michael Murray', 'Chace Crawford']
Unfortunately I cannot invite you to dinner tonight Leo Howard.
Chad Michael Murray and Chace Crawford you are both still invited to dinner.
[]

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print ("\nHere is the original list again:")
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)
len(cars)

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']
Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

4

In [ ]:
#TIY 3.8
places = ['japan','portugal', 'south korea', 'london', 'norway']
print(places)
print(sorted(places))
print(places)
places.reverse()
print(places)
places.reverse()
print(places)
places.sort()
print(places)
places.sort(reverse = True)
print(places)

['japan', 'portugal', 'south korea', 'london', 'norway']
['japan', 'london', 'norway', 'portugal', 'south korea']
['japan', 'portugal', 'south korea', 'london', 'norway']
['norway', 'london', 'south korea', 'portugal', 'japan']
['japan', 'portugal', 'south korea', 'london', 'norway']
['japan', 'london', 'norway', 'portugal', 'south korea']
['south korea', 'portugal', 'norway', 'london', 'japan']

In [ ]:
#TIY 3.9
dinner_guests = ['Leo Howard', 'Timothee Chalamet', 'Ian Somerhalder']
message = (f"I am inviting {len(dinner_guests)} guests to dinner")
print(message)

I am inviting 3 guests to dinner

In [ ]:
#TIY 3.10
languages = ['french', 'german', 'english', 'japanese']
print(languages[0])
print(languages[0].title())
print(languages[-1])
message = f"I am fluent in {languages[1].title()} and {languages[2].title()}."
print(message)
languages[0] = 'russian'
print(languages)
languages.append('french')
print(languages)
languages = ['french', 'german', 'english', 'japanese']
print(languages)
languages.insert(0, 'russian')
print(languages)
del languages[0]
print(languages)
popped_languages = languages.pop()
print(languages)
print(popped_languages)
print(f"I want to learn {popped_languages.title()}.")
languages.remove('english')
print(languages)
languages = ['russian', 'french', 'german', 'english', 'japanese']
too_difficult = 'russian'
languages.remove(too_difficult)
print(languages)
print(f"\nLearning {too_difficult.title()} is too difficult for me.")
languages = ['french', 'german', 'english', 'japanese']
print(languages)
languages.reverse()
print(languages)
languages.reverse()
print(languages)
print(sorted(languages))
print(languages)
languages.sort()
print(languages)
languages.sort(reverse = True)
print(languages)
len(languages)

french
French
japanese
I am fluent in German and English.
['russian', 'german', 'english', 'japanese']
['russian', 'german', 'english', 'japanese', 'french']
['french', 'german', 'english', 'japanese']
['russian', 'french', 'german', 'english', 'japanese']
['french', 'german', 'english', 'japanese']
['french', 'german', 'english']
japanese
I want to learn Japanese.
['french', 'german']
['french', 'german', 'english', 'japanese']

Learning Russian is too difficult for me.
['french', 'german', 'english', 'japanese']
['japanese', 'english', 'german', 'french']
['french', 'german', 'english', 'japanese']
['english', 'french', 'german', 'japanese']
['french', 'german', 'english', 'japanese']
['english', 'french', 'german', 'japanese']
['japanese', 'german', 'french', 'english']

4

In [ ]:
#this code results in an index error because python starts items at 0
#instead of 1 so therefore 3 is out of range since there isn't a fourth item in the list
#motorcycles = ['honda', 'yamaha', 'suzuki']
#print(motorcycles[3]

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [ ]:
#this also causes an index error because it is an empty list
#motorcycles = []
#print(motorcycles[-1])

In [ ]:
list = [63, 70, 77, 84]
print(list)
cubes = 63**3, 70**3, 77**3, 84**3
print(cubes)
values = [40, 50, 120, -8, 6]
values0 = values[0]*7.4+51
values1 = values[1]*7.4+51
values2 = values[2]*7.4+51
values3 = values[3]*7.4+51
values4 = values[4]*7.4+51
print(f"({values0}, {values1}, {values2}, {values3}, {values4})")

[63, 70, 77, 84]
(250047, 343000, 456533, 592704)
(347.0, 421.0, 939.0, -8.200000000000003, 95.4)

In [4]:
#TIY 3.11 intentional error
#bicycles = ['trek', 'cannondale', 'redline', 'specialized']
#print(bicycles)
#print(bicycles[4])
#the [4] is out of range and causes an index error

In [ ]:
#1: List comprehension: Print the cubes of integers that are multiples of 7 between 60 and 85
cubes_of_multiples_of_7 = [num**3 for num in range(60, 86) if num % 7 == 0]
print(cubes_of_multiples_of_7)

[250047, 343000, 456533, 592704]

In [1]:
#2: List comprehension: Compute y=7.4x + 51 for the given set of values
values = [40, 50, 120, -8, 6]
y_values = [7.4 * x + 51 for x in values]
print(y_values)

[347.0, 421.0, 939.0, -8.200000000000003, 95.4]